*{
    margin:0;
    padding: 0;
}

header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(file:///C:/Users/ambro/Desktop/WebProject/Convocation/Background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}


.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: o.5s;
}

.nav-links ul li:hover::after{
    width: 100%;

}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 15px;
    text-align: left;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}


.Matukio {
    min-height: 500px;
    width: 8400px;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  h2{
    margin: 50px;
    margin-left: 510px;
    font-size: 30px;
    font-family: 'karla', sans-serif;
    font-weight: strong;
  }
  
  .slider-frame {
    overflow:hidden;
    height: 500px; /* Adjust height as needed */
    width: 100%;
    margin-top: 20px;
    position: relative;
  }
  
  .slide-images {
    width: 500px; /* Adjust total width of all images (1200px * 7) */
    height: 9400px; /* Adjust height as needed */
    position: relative;
    animation: slide_animation 36s linear infinite alternate;
    white-space:nowrap;
  }
  
  .img-container {
    width: 1200px; /* Adjust width of each image container */
    height: 500px; /* Adjust height as needed */
    display: inline-block;
  }
  
  .img-container img {
    width: 50%;
    height: 50%;
    object-fit:cover;
  }
  
  @keyframes slide_animation {
    0% {
      transform: translateX(0);
    }
    12.5% {
        transform: translateX(0);
      }
    25% {
        transform: translateX(-1200px);
      }
    37.5% {
        transform: translateX(-1200px);
      }
    50% {
        transform: translateX(-2400px);
      }
    62.5% {
        transform: translateX(-2400px);
      }
    75% {
        transform: translateX(-3600px);
      }
    87.5% {
        transform: translateX(-3600px);
      }
    
    100% {
      transform: translateX(0); /* Adjust to match the total width (1200px * 6) */
    }
  }
  









/*body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #2567e2;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/*#banner {
    background: url('C:\Users\ambro\Desktop\Convocation\IMG-20240516-WA0012.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 4rem 0;
    text-align: center;
}

main {
    padding: 2rem;
}*/

.section {
    margin-bottom: 2rem;
}

.footer {
    background: #2567e2;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    display: inline;
    margin: 0 10px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}
